.App {
  text-align: center;
}

.dropdown-menu {
  max-height: 20vh;
  overflow-y: scroll;
}

.App-header {
  background-color: #1b1b1b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.card,
#title {
  width: 20rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-onhover-color-change {
  color: #00C099
}

.link-onhover-color-change:hover {
  color: rgb(249, 128, 18)
    /* This is the same as moodle's logo orange.
  Just to maintain the colour scheme :) */
}

.toast-body{
  text-align: left;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-wrap: break-word;
  gap: 10px;
}

#self-credit-msg {
  margin-left: 20px;
}

#contribute-msg {
  margin-right: 20px;
}